* {
  margin: 0;
  padding: 0;
  border: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(291.13deg, #D91F05 -47.65%, rgba(227, 135, 49, 0) 3.47%, #D91F05 23.77%, #7578C6 39.71%, rgba(205, 212, 255, 0) 86.84%, rgba(125, 113, 183, 0) 135.65%);  height: 100vh;
  width: 100%;
}

/* ****************** */
/* calculator  System */
/* ****************** */

/* 디스플레이 반응형 단위가 뭐가 되면 좋을까 
화면 최소치를 설정하는 방법을 찾아보는게 좋을 거 같음 */

.calculator {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  background: #0000001f;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);  
  width: 32rem;
  height: 40rem;
  border-radius: 10px;
}
/* 자식선택자 적용하는 걸 사용 할떈 왜 안되는건지 잘 모르겠음 
* 자식선택자 사용법에 대해서 공부가 필요함
*/
.calculator > :nth-child(1) {
flex: 0 1 8rem; 
order: 1;
}

.calculator > :nth-child(2) {
  flex: 0 1 30rem;
  order: 2;
}
/* ***************** */
/* display 영역  */
/* ***************** */
.calculator_display {
  display: flex;
  flex-direction: column;
  background-color: #d6d6d642;
  border-radius: 20px;
  font-size: 2rem;
  align-items: flex-end;
  padding: 2rem;
  margin: 1rem;
}

/* calculator_display > :first-child { 
  
} */

/* ***************** */
/* button layer 영역  */
/* ***************** */

.calculator_button_layer {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.calculator_button_layer > :nth-child(n) {
  flex: 1 0 auto;
}

.calculator_button_layer > :first-child > :nth-child(n){
  flex: 1 0 auto;
}


.button_layer_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.button_layer_row:nth-child(n) {
  flex: none;
  align-self: stretch;
  flex-grow: 1;
}


/* 호버 옵션이랑 색상이 위에 덮혀 입허지는거 같음 */

/* ***************** */
/* button 영역        */
/* ***************** */
button {
  all: unset;

  background-color: rgba(255, 255, 255, 0.12);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  font-size: 1.5rem; 
 
  flex: 1 1 8rem;
}
/* 2번째 row의 +버튼만 더  큰 이유를 모르겠음 */
button:hover {
  background-color: #4f86fe27;
  color: #FFFFFF;
}

button:active {
  background-color: #1860fa3c;
  color: #FFFFFF;
}

  /* 왜 16rem이 아니고 14rem을 사용 했을 떄 크기가 두배가 되는겅ㅁ?
    .button의 padding 값에 1rem이 들어가 있어서 그럤음
  */
button.medium{
  flex: 0 0 16rem;
}

/* 버튼의 자식요소에 호버 적용 완료 클래스가 and로 설정되어서안된듯*/
/* button.small.operator */
.operator {
  background-color: black;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
  color: aliceblue;
}

.control {
  background-color: rgba(218, 218, 218, 0.164);
  color: rgb(0, 0, 0);
}

